# Importing Dependencies

In [2]:
import pandas as pd
import numpy as np
from twarc import Twarc
import os
import io
import shutil
import json

In [18]:
# Tweets api keys and tokens

consumer_key = "WdqfEEBIoHgKRIIaHOGZyAlGT"
consumer_secret = "PVHy2NsOa6UG8e9lOGoGzWao3yGAcD9tBCIHgUn0i7dmDouy4j"
access_token = "1268368106952540160-wAHcAplmTBiB5y44jSbtBpRXjuTwMV"
access_token_secret = "OIfigDKfNSp7T69sSMQIBiR2chW7CsF4Rkc7JXP6NwDzr"

# Unzipping and extracting the tweet_ids:

In [17]:
# change the os where your data is available

# os.chdir("Dataset")
# os.chdir("covid19_twitter-master")
# os.chdir("dailies")

In [20]:
# #unzip the .gz files in dataset folders
# nod = 10 # no of dates datas to be included
# for i in os.listdir()[:nod]:
#     os.chdir(i)
#     with gzip.open(i+'_clean-dataset.tsv.gz', 'rb') as f_in:
#         with open(i+'_clean-dataset.tsv', 'wb') as f_out:
#             shutil.copyfileobj(f_in, f_out)
#     os.chdir("../")

concatenate all the unzip tsv files in one file to get tweet-ids

In [19]:
# df = pd.DataFrame()
# for name in os.listdir()[:nod]:
#     os.chdir(name)
#     data = pd.read_csv(name+"_clean-dataset.tsv",sep="\t")
#     df = pd.concat([df, data])
#     os.chdir("../")
# df.tocsv("../../tweet_id_dataset.csv")

In [23]:
#Dont forget to change the directories as per your need

### Read Tweets _IDS

In [27]:
df = pd.read_csv("small_dataset/tweet_id_dataset.csv")

In [28]:
df.head()

   Unnamed: 0             tweet_id       date    time
0           0  1243388154213588996  2020-3-27  4:3:31
1           1  1243388154385580034  2020-3-27  4:3:31
2           2  1243388154490392577  2020-3-27  4:3:31
3           3  1243388154582716422  2020-3-27  4:3:31
4           4  1243388154737901571  2020-3-27  4:3:31

In [29]:
df.shape

(1785234, 4)

In [31]:
# Using Twarc for hydrating the original tweets from their id
tc = Twarc(consumer_key, consumer_secret, access_token, access_token_secret)

In [32]:
tweets = tc.hydrate(df["tweet_id"])

Storing and hydrating the data take too much time.
- so specify the amount of tweets you need

In [37]:
hydrated_tweets = []
count = 0
no_of_tweets = 10**6
for tweet in tweets:
    if count >= no_of_tweets: break
    hydrated_tweets.append([tweet["full_text"],tweet["lang"],tweet["user"]["location"]])
    count += 1
    if (count%50000) == 0:
        print("Completed",count,"Tweets.")

In [16]:
tweet_dataset = pd.DataFrame(hydrated_tweets,columns=["Text","Language","Location"])

In [26]:
tweet_dataset.to_csv("small_dataset/Tweet_dataset.csv")

In [23]:
en_tweet_dataset = tweet_dataset[tweet_dataset["Language"] == "en"]

In [27]:
en_tweet_dataset.to_csv("small_dataset/English_dataset.csv")

In [28]:
en_tweet_dataset

,Text,Language,Location
0,üìûüëáüèª Your Weber County Commissioners and team b...,en,
3,Lost my job due to the virus and still can't g...,en,
4,‚ÄúGenomic Study Points to Natural Origin of COV...,en,
6,"Such news from SCMP, \nso interesting https://...",en,
7,This proves Birx liedüëáüèΩ https://t.co/FE6xaUDyHF,en,
...,...,...,...
440329,Survey Confirms Fears of Precarious Labor Forc...,en,"Los Angeles, CA"
440330,Because. https://t.co/VcfwB6vIFK,en,"Corpus Christi, Texas USA"
440331,The NCAA Division I Council is scheduled to vo...,en,"El Paso, Texas"
440333,"BarackObama: During this crisis, our grocery s...",en,"New York, USA"
440335,Bravo. Thank you. https://t.co/CXX0oiatlX,en,